<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- 遍历数组 -->
        <p v-for="msg in list">{{ msg }}</p>
        <!-- 遍历对象数组-->
        <p v-for="(user,index) in users">索引是:{{index}}name:{{user.name}}--id:{{user.id}}</p>
        <!-- 遍历对象-->
        <p v-for="(value,key) in user">对象的键是：{{key}}--值是：{{value}}</p>
    </div>
</body>
<script>
    new Vue({
            el:"#app",
            data:{
                list:[0,1,2,3,4,5],
                users:[
                    {"id":"1","name":"zhangsan"},
                    {"id":"2","name":"lisi"}
                ],
                user:{
                    'id':"123",
                    'name':"ww",
                    'sex':"nan"
                }
            }
        });

</script>

</html>